@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-base: "Inter", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-base);
    @apply scroll-smooth antialiased;
  }

  body {
    @apply bg-black text-white;
  }
}

.prose {
  @apply max-w-none;
  @apply text-white;
}

.prose h1 {
  font-weight: 700;
}
.prose h2 {
  font-weight: 700;
}
.prose h3,
.prose h4 {
  @apply text-white;
}

.prose p {
  @apply text-white/80;
}

.prose a {
  @apply text-white underline decoration-white/30 underline-offset-4 transition-colors hover:decoration-white;
}
